.drop-icon{
    display: block;
    width: 9px;
    height: 5px;
    position: absolute;
    /* background: #fff; */
    background: url("./files/assort-icon.png");
    top: 27px;
    right: 7px;
    cursor: pointer;
}
.drop-icon:hover{
    background: url("./files/assort-icon-hover.png");
}