.room{
    float: left;
    width: 275px;
    height: 219px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    box-sizing:content-box;
}
.avatar{
    width: 42px;
    height: 42px;
}
.img{
    width:275px;
    height:157px;
}