.directory{

}
.home-header{
    height: 60px;
    width: 100%;
    border-bottom-color: #4d4d4d;
    position: fixed;
    z-index: 10;
    background-color: #232323;
}
.dir-contianer{
    margin: 0 auto;
    width: 100%;
    min-width: 1200px;
    box-sizing: border-box;
    padding-left: 260px;
    padding-top: 80px;
    overflow: hidden;
}